<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path, class: "btn btn-dark btn-rectangular"  %>

  <%= button_to "Delete", @item, method: :delete, class: "btn btn-rectangular btn-outline-danger" %>
</div>
